.layout {
  display: flex;
  height: 100%;
  min-height: 100vh;
}

.mainPanel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.leftPanel {
  // width: 200px;
  border-right: 1px solid grey;
}

.topPanel {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid grey;
}

.contentWrapper {
  flex-grow: 1;
  // overflow-y: auto;
  max-height: 100%;
}
